* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0 auto;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
  background-color: #f5f5f2; }

/*General reset*/
h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

img {
  border: none; }

a {
  color: inherit;
  text-decoration: none; }

ul {
  margin: 0;
  list-style: none;
  padding: 0; }

input, select, textarea {
  outline: none;
  border: none; }

textarea {
  resize: vertical; }

button, input[type="submit"] {
  cursor: pointer; }

.text-bold {
  font-weight: 700; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.fixed-to-top {
  top: 0;
  position: fixed;
  z-index: 99; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-contenet-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.circle {
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .circle.online {
    background-color: #04ae00; }
  .circle.offline {
    background-color: #ff0000; }

.section-title, .page-title {
  font-size: 16px;
  color: #a6a6a6;
  text-transform: uppercase;
  font-weight: 700; }

.page-title {
  text-transform: uppercase; }
  .page-title .small-title {
    font-size: 14px; }

.link {
  font-size: 13px;
  color: #56819f; }
  .link.large-link {
    font-size: 16px; }
  .link:hover {
    color: #ffa200; }

.btn {
  font-size: 18px;
  padding: 13px 22px;
  color: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  display: inline-block;
  cursor: pointer; }
  .btn + .btn {
    margin-left: 18px; }
  .btn.btn-default {
    background-color: #979797; }
    .btn.btn-default:hover {
      background-color: #bababa; }
  .btn.btn-action {
    background-color: #f58220; }
    .btn.btn-action:hover {
      background-color: #ffa200; }
  .btn.btn-disable {
    background-color: #e3e3e3;
    cursor: not-allowed; }
    .btn.btn-disable:hover {
      background-color: #e3e3e3; }

.table {
  border-collapse: collapse;
  font-size: 13px; }
  .table.full-width {
    width: 100%; }
  .table tbody tr:last-child td {
    border-bottom: 1px solid #e3e3e3; }
  .table tbody tr:hover {
    background-color: #f1f3f3; }
  .table .table-sort {
    color: #bababa;
    padding: 8px 10px;
    margin: -8px -10px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    cursor: pointer; }
    .table .table-sort:hover {
      background-color: #f5f5f2;
      color: #333333; }
  .table tr th {
    padding: 30px 18px;
    color: #bababa; }
  .table tr td {
    padding: 18px;
    border-top: 1px solid #e3e3e3; }
    .table tr td.td-title {
      font-size: 16px;
      color: #bababa; }

.user-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #979797;
  padding: 21px 0 21px 20px;
  border-left: 1px solid #e3e3e3; }
  .user-control:nth-child(2) {
    position: relative; }
  .user-control .icon {
    font-size: 15px; }
    .user-control .icon.icon-notification {
      position: relative; }
  .user-control .circle {
    background-color: orange;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 19px;
    right: 0; }
  .user-control a {
    margin-right: 20px; }
  .user-control span {
    margin-right: 20px; }
  .user-control:last-child span {
    margin: 0; }

.pagination li.active, .pagination li a:hover {
  background-color: #96cc9b;
  color: #bababa;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.pagination {
  padding: 17px 0 35px 0; }
  .pagination li {
    display: inline-block; }
    .pagination li a {
      display: inline-block;
      padding: 18px; }
      .pagination li a.icon {
        cursor: pointer; }
        .pagination li a.icon:hover {
          background-color: #fff; }

.color-tab {
  padding: 12px 19px 12px 8px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  display: inline-block;
  font-size: 13px;
  background-color: #fff;
  cursor: pointer; }
  .color-tab.tab-default:hover {
    background-color: #f3f3f1; }
  .color-tab .circle {
    width: 17px;
    height: 17px;
    background-color: #80bfca;
    margin-right: 13px; }
  .color-tab span {
    font-size: 13px; }

.container-sm {
  max-width: 684px;
  margin: 0 auto; }

.row {
  margin-left: -18px;
  margin-right: -18px; }

.container-fluid {
  padding: 18px; }

.container-fluid-header {
  padding: 0 18px; }

.header {
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  right: 0;
  left: 0; }

.aside .aside-menu ul li.active a, .aside .aside-menu ul li a:hover {
  background-color: #282828;
  color: #fff;
  border-left-color: #f58220; }

.aside {
  background-color: #191919;
  width: 188px;
  height: 100vh;
  left: 0;
  z-index: 100;
  overflow-y: auto; }
  .aside .menu-control {
    padding: 18px; }
    .aside .menu-control .menu-btn {
      cursor: pointer; }
      .aside .menu-control .menu-btn span {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #979797; }
        .aside .menu-control .menu-btn span + span {
          margin-top: 5px; }
  .aside .aside-menu ul li {
    color: #979797; }
    .aside .aside-menu ul li a {
      display: block;
      padding: 14px;
      border-left: 4px solid transparent; }
      .aside .aside-menu ul li a .icon {
        font-size: 17px;
        margin-right: 15px; }
  .aside .your-manager {
    padding: 27px 18px;
    border-top: 1px solid #979797; }
    .aside .your-manager .manager-info {
      margin-top: 18px; }
      .aside .your-manager .manager-info .manager-photo {
        position: relative;
        margin-right: 10px; }
        .aside .your-manager .manager-info .manager-photo .circle {
          width: 11px;
          height: 11px;
          position: absolute;
          right: 0;
          top: 0; }

.content-wrapper {
  padding: 18px;
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px);
  overflow-y: auto; }

.panel {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
  .panel + .panel {
    margin-top: 18px; }
  .panel .panel-header {
    border-bottom: 1px solid #e3e3e3;
    padding: 18px; }
  .panel .panel-body {
    padding: 0 18px; }
  .panel .panel-footer {
    padding: 30px 0; }
  .panel .panel-form {
    padding: 40px 0;
    border-bottom: 1px solid #e3e3e3;
    text-align: center; }
    .panel .panel-form form {
      width: 455px;
      display: inline-block; }
      .panel .panel-form form .label-group + .label-group {
        margin-top: 15px; }
      .panel .panel-form form .form-control {
        width: 310px; }

.panel-date {
  padding: 30px 0;
  border-bottom: 1px solid #e3e3e3; }

.datepicker-form .btn {
  vertical-align: middle;
  margin-left: 13px;
  padding: 12px 20px; }
  .datepicker-form .btn .icon-refresh {
    font-size: 12px; }

.date-input-wrap {
  padding: 4px 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: inline-block; }
  .date-input-wrap .date-control {
    padding: 8px 16px; }
  .date-input-wrap #to {
    border-left: 1px solid #e3e3e3;
    background: url("../img/calendar.svg") no-repeat 90%;
    -webkit-background-size: 13px 13px;
            background-size: 13px 13px; }

.form-control {
  border: 1px solid #bababa;
  height: 40px;
  padding: 6px 18px; }

.label-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

textarea {
  border: 1px solid #e3e3e3;
  padding: 18px 0 50px 18px; }

input {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 14px;
  font-family: "Roboto", sans-serif; }
  input.warning {
    border: 2px solid #ff0000; }
    input.warning:hover {
      cursor: not-allowed; }
  input:hover {
    cursor: pointer;
    color: #333333; }

.chart-wrap {
  padding-bottom: 30px; }

.guide-wrap {
  padding: 20px; }
  .guide-wrap > * {
    margin-bottom: 15px; }

main {
  padding-left: 188px;
  padding-top: 60px; }

.links {
  margin: 18px 0; }

h1 {
  color: #000;
  font-size: 3em; }
