//component

.circle{
  display: inline-block;
  border-radius: 50%;

  &.online{
    background-color: $green;
  }

  &.offline{
    background-color: $red;
  }
}



//Title

%title{
  font-size: $titleFontSize;
  color: $titleColor;
  text-transform: uppercase;
  font-weight: $fontBold;
}

.section-title{
  @extend %title;
}

.page-title{
  @extend %title;
  text-transform: uppercase;

  .small-title{
    font-size: $smallTitleFontSize;
  }
}

//Links

.link{
  font-size: $linkFontSizeDefault;
  color: $linkColor;

  &.large-link{
    font-size: $linkLargeFont;
  }
  
  &:hover{
    color: $linkhoverColor;
  }
}

//Button

.btn{
  font-size: $btnFontSize;
  padding: 12px 22px;
  color: $btnDefaultColor;
  border-radius: 2px;
  display: inline-block;

  & + .btn{
    margin-left: $indent;
  }

  &.btn-default{
    background-color: $btnDefaultBg;

    &:hover{
      background-color: $btnDefaultBgHover;
    }
  }

  &.btn-action{
    background-color: $btnActionBg;

    &:hover{
      background-color: $btnActionBgHover;
    }
  }

  &.btn-disable{
    background-color: $btnDisableBg;
    cursor: not-allowed;

    &:hover{
      background-color: $btnDisableBgHover;
    }
  }
}

//TABLES

.table{
  border-collapse: collapse;
  font-size: $tableFontSize;

  &.full-width{
    width: 100%;
  }


  tbody{

     tr{

       &:last-child{

         td{
           border-bottom: 1px solid $lightGrey;
         }

       }

       &:hover{
         background-color: $tableTrHover;
       }
     }
  }

  .table-sort{
    color: $grey;
    padding: 8px 10px;
    margin: -8px -10px;
    border-radius: 2px;
    cursor: pointer;

    &:hover{
      background-color: $xsLightGrey;
      color: $black;
    }
  }
  tr{

    th{
      padding: 30px 18px;
      color: $grey;
    }

    td{
      padding: 18px;
      border-top: 1px solid $lightGrey;

      &.td-title{
        font-size: 16px;
        color: $grey;
      }
    }
  }

}


.user-control{
  display: flex;
  align-items: center;
  color: $darkGrey;
  padding: 21px 0 21px 20px;
  border-left: 1px solid $lightGrey;
  
  &:nth-child(2){
    position: relative;
  }

  .icon{
    font-size: 15px;
    
    &.icon-notification{
      position: relative;
    }
  }

  .circle{
    background-color: orange;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 19px;
    right: 0;
  }

  a{
    margin-right: 20px;
  }

  span{
    margin-right: 20px;
  }

  &:last-child span{
    margin: 0;
  }

}

//pagination
%activePaginationLink{
  background-color: $xsLightGreen;
  color: $grey;
  border-radius: 2px;
}

.pagination{
  padding: 17px 0 35px 0;
  li {
    display: inline-block;

    &.active{
      @extend %activePaginationLink;
    }

    a{
      display: inline-block;
      padding: $indent;

      &.icon{
        cursor: pointer;
        &:hover{
          background-color: #fff;
        }
      }

      &:hover{
        @extend %activePaginationLink;
      }
    }
  }
}

// color tabs
.color-tab{
  padding: 12px 19px 12px 8px;
  border-radius: 2px;
  display: inline-block;
  font-size: $tableFontSize;
  background-color: $tabDefColor;
  cursor: pointer;

  &.tab-default{
    &:hover{
      background-color: $greyTabBg;
    }
  }

  .circle{
    width: 17px;
    height: 17px;
    background-color: $greenTabBg;
    margin-right: 13px;
  }

  span{
    font-size: $tableFontSize;
  }
}



.container-sm{
  max-width: 684px;
  margin: 0 auto;
}

//row

.row{
  margin-left: -$indent;
  margin-right: -$indent;
}

//container
.container-fluid{
  padding: $indent;
}
.container-fluid-header{
  padding: 0 $indent;
}

//HEADER
.header{
  background-color: #fff;
  border-bottom: 1px solid $lightGrey;
  right: 0;
  left: 0;
}

//aside
%activeLink{
  background-color: #282828;
  color: #fff;
  border-left-color: $orange;
}

.aside{
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;
  overflow-y: auto;

  .menu-control{
    padding: $indent;

    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }
  }

  .aside-menu{

    ul{

      li{
        color: $darkGrey;

        &.active{
          a{
            @extend %activeLink;
          }
        }

      a{
        display: block;
        padding: 14px;
        border-left: 4px solid transparent;

        .icon{
          font-size: 17px;
          margin-right: 15px;
        }
        
        &:hover{
          @extend %activeLink;

        }
        }
      }
    }
  }

  .your-manager{
    padding: 27px $indent;
    border-top: 1px solid $darkGrey;

    .manager-info{
      margin-top: 18px;

      .manager-photo{
        position: relative;
        margin-right: 10px;

        .circle{
          width: 11px;
          height: 11px;
          position: absolute;
          right: 0;
          top: 0;

        }
      }
    }
  }
}

//content wrapper

.content-wrapper{
  padding: $indent;
  height: calc(100vh - 60px);
  overflow-y: auto;
}
  .panel{
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    & + .panel{
      margin-top: $indent;
    }

    .panel-header{
      border-bottom: 1px solid $lightGrey;
      padding: $indent;
    }

    .panel-body{
      padding: 0 $indent;
    }

    .panel-footer{
      padding: 30px 0;
    }

    .panel-form {
      padding: 40px 0;
      border-bottom: 1px solid $lightGrey;
      text-align: center;

      form {
        width: 455px;
        display: inline-block;

        .label-group{

          & + .label-group {
            margin-top: 15px;
          }
        }

        .form-control {
          width: 310px;
        }
      }
    }
  }

    //default input
  .form-control{
    border: 1px solid $grey;
    height: 40px;
    padding: 6px $indent;
  }

  //label group
.label-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  //DATE INPUT BLOCK

  .panel-data{
  padding: 30px 0;

    .date-input-wrap{
      padding: 4px 0;
      border: 1px solid $lightGrey;
      border-radius: 3px;
      display: inline-block;
    }
  }


    // FORM
    textarea{
      border: 1px solid $lightGrey;
      padding: 18px 0 50px 18px;
    }

    input{
      border-radius: 2px;
      font-size: $fontSize;
      font-family: $fontFamily;

      &.warning{
        border: 2px solid $red;

        &:hover{
          cursor: not-allowed;
        }
      }

      &:hover{
        //border: 1px solid $darkGrey;
        cursor: pointer;
        color: $black;
      }
    }





