//component

.circle{
  display: inline-block;
  border-radius: 50%;

  &.online{
    background-color: $green;
  }

  &.offline{
    background-color: $red;
  }
}



//Title component

%title{
  font-size: $titleFontSize;
  color: $titleColor;
  font-weight: $fontBold;
}

.section-title{
  @extend %title;
}

.page-title{
  @extend %title;
  text-transform: uppercase;

  .small-title{
    font-size: $smallTitleFontSize;

  }
}

.list-title{
  @extend %title;
}



//Links component

.link{
  font-size: $linkFontSizeDefault;
  color: $linkColor;

  &.large-link{
    font-size: $linkLargeFont;
  }
  
  &:hover{
    color: $linkHoverColor;
  }
}

//Button

.btn-row{
  padding: $indent;
}

.btn{
  font-size: $btnFontSize;
  padding: 13px 22px;
  color: $btnDefaultColor;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;

  & + .btn{
    margin-left: $indent;
  }

  &.btn-default{
    background-color: $btnDefaultBg;

    &:hover{
      background-color: $btnDefaultBgHover;
    }
  }

  &.btn-action{
    background-color: $btnActionBg;

    &:hover{
      background-color: $btnActionBgHover;
    }
  }

  &.btn-disable{
    background-color: $btnDisableBg;
    cursor: not-allowed;

    &:hover{
      background-color: $btnDisableBgHover;
    }
  }
}

//TABLES

.table{
  border-collapse: collapse;
  font-size: $tableFontSize;

  &.full-width{
    width: 100%;
  }


  tbody{

     tr{

       &:hover{
         background-color: $tableTrHover;
       }

       &:last-child{

         td{
           border-bottom: 1px solid $lightGrey;
         }

       }

       &:hover{
         background-color: $tableTrHover;
       }
     }
  }

  .table-sort{
    color: $grey;
    padding: 8px 10px;
    margin: -8px -10px;
    border-radius: 2px;
    cursor: pointer;

    //&:not(:last-child){
    //  width: 30%;
    //}

    &:hover{
      background-color: $xsLightGrey;
      color: $black;
    }
  }
  tr{

    th{
      padding: 30px 18px;
      color: $grey;
      width: 30%;
    }

    td{
      padding: $indent;
      border-top: 1px solid $lightGrey;

      &.td-title{
        font-size: 16px;
        color: $grey;
      }
    }
  }

}


.user-control{

  color: $darkGrey;
  padding: 21px 0 21px 20px;
  border-left: 1px solid $lightGrey;

  &:nth-child(1){
    font-size: 20px;
  }
  
  &:nth-child(2){
    position: relative;
  }

  .icon{
    font-size: 18px;
    
    &.icon-notification{
      position: relative;
    }
  }

  .circle{
    background-color: orange;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 19px;
    right: 0;
  }

  a{
    margin-right: 30px;
  }

  span{
    margin-right: 20px;
  }

  &:last-child span{
    margin: 0;
  }

}

//pagination
%activePaginationLink{
  background-color: $xsLightGreen;
  color: $grey;
  border-radius: 2px;
}

.pagination{
  padding: 17px 0 35px 0;
  li {
    display: inline-block;

    &.active{
      @extend %activePaginationLink;
    }

    a{
      display: inline-block;
      padding: $indent;

      &.icon{
        cursor: pointer;
        &:hover{
          background-color: #fff;
        }
      }

      &:hover{
        @extend %activePaginationLink;
      }
    }
  }
}

// color tabs
.color-tab-wrap{

    margin-bottom: 75px;

  .tab-wrap-title{

    padding-bottom: 40px;
  }

  .tab-wrap{
    .color-tab{
      padding: 12px 19px 12px 8px;
      border-radius: 2px;
      //display: inline-block;
      font-size: $tableFontSize;
      background-color: $tabDefColor;
      cursor: pointer;
      display: flex;
      align-items: center;


      &.tab-active{
        background-color: $greyTabBg;
      }

      &:hover{

        background-color: $greyTabBg;
      }


      .circle{
        width: 17px;
        height: 17px;
        background-color: $greenTabBg;
        margin-right: 13px;
      }

      span{
        font-size: $tableFontSize;
      }

      & + .color-tab{
        margin-left: 42px;
      }
    }
  }

}

.container-sm{
  max-width: 684px;
  margin: 0 auto;
}

//row

.row{
  margin-left: -$indent;
  margin-right: -$indent;
}

//container

.container-fluid{
  padding: $indent;
}

.container-fluid-header{
  padding: 0 $indent;
}

//HEADER

.header{
  background-color: #fff;
  border-bottom: 1px solid $lightGrey;
  right: 0;
  left: 0;
}

//HEADER END

//ASIDE START

%activeLink{
  background-color: #282828;
  color: #fff;
  border-left-color: $orange;
}

.aside{
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;
  overflow-y: auto;

  .menu-control{
    padding: $indent;

    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }
  }

  .aside-menu{

    ul{

      li{
        color: $darkGrey;

        &.active{
          a{
            @extend %activeLink;
          }
        }

      a{
        display: block;
        padding: 14px;
        border-left: 4px solid transparent;

        .icon{
          font-size: 17px;
          margin-right: 15px;
        }
        
        &:hover{
          @extend %activeLink;

        }
        }
      }
    }
  }

  .your-manager{
    padding: 27px $indent;
    border-top: 1px solid $darkGrey;

    .manager-info{
      margin-top: 18px;

      .manager-photo{
        position: relative;
        margin-right: 10px;

        .circle{
          width: 11px;
          height: 11px;
          position: absolute;
          right: 0;
          top: 0;

        }
      }
    }
  }
}

//content wrapper

.content-wrapper{
  padding: $indent;
  height: calc(100vh - 60px);
  overflow-y: auto;
}
  .panel{
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    & + .panel{
      margin-top: $indent;
    }

    .panel-header{
      border-bottom: 1px solid $lightGrey;
      padding: $indent;
    }

    .panel-body{
      padding: 0 $indent;
    }

    .panel-footer{
      padding: 30px 0;
    }

    .panel-form {
      padding: 40px 0;
      border-bottom: 1px solid $lightGrey;
      text-align: center;

      form {
        width: 455px;
        display: inline-block;

        .label-group{

          & + .label-group {
            margin-top: 15px;
          }
        }

        .form-control {
          width: 310px;
        }
      }
    }
  }

.panel-date {
  padding: 34px 0;
  border-bottom: 1px solid $lightGrey;
}

//DATE INPUT BLOCK

  .datepicker-form{

    .btn
    {
      margin-left: 13px;
      padding: 11px 20px;
      .icon-refresh{
        font-size: 15px;
    }
    }

    input:focus{
      border: none;
    }
  }

  .date-input-wrap{
    padding: 4px 0;
    border: 1px solid $lightGrey;
    border-radius: 3px;
    display: inline-block;

    .date-control{
      padding: 8px 16px;
    }

    #to{
      border-left: 1px solid $lightGrey;
      background: url("../img/calendar.svg") no-repeat  90%;
      background-size: 13px 13px;
    }
  }


    //default input
  .form-control{
    border: $border;
    height: 40px;
    padding: $paddingForm;


  }

  //label group
.label-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

    // FORM
    textarea{
      border: 1px solid $lightGrey;
      padding: 18px 0 50px 18px;

      &:focus{
        border: 1px solid $black;
      }

    }

    input{
      border-radius: 2px;
      font-size: $fontSize;
      font-family: $fontFamily;

      &:focus{
        border: 1px solid $black;
      }

      &:disabled{
        border: 2px solid $red;
        background-color: $xsLightGrey;


        &:hover{
          cursor: not-allowed;
        }

      }

      &.invalid{
        border: 2px solid $red;
        background-color: $xsLightGrey;

        &:hover{
          cursor: not-allowed;
        }
      }

      &:hover{
        //border: 1px solid $darkGrey;
        cursor: pointer;
        color: $black;
      }

         &[type=password]{

           background: url("../../app/img/password.svg") no-repeat;
         }

    }


//chart wrap
.chart-wrap{
  padding-bottom: 75px;

  .chart-statistics{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    .list{
      width: 40%;
    }

     li{
       display: flex;
       justify-content: space-between;
       border-bottom: $border;
       padding-bottom: 9px;

       & + li{
         margin-top: 25px;
       }
    }
  }

}

//modal
.modal{
  background-color: #fff;
  display: none;

  .modal-header{
    border-bottom: 1px solid $lightGrey;
    padding: $indent;
    position: relative;

    & .icon{
      position: absolute;
      right: 18px;
      top: 18px;
    }
  }

  .modal-body{
    padding: 0 $indent;

    .filtres{
      border-bottom: 1px solid #e3e3e3;
      padding: 16px 18px 28px;
      margin-bottom: 30px;
      margin: 0 -18px;

      select{
        display: none;
      }

      .modal-form{
        width: 435px;
        height: 40px;
        padding-left: 15px;
        border: 1px solid $lightGrey;
      }
    }
  }

  .modal-footer{
    padding: $indent;
    border-top: 1px solid $lightGrey;
  }
}


//checkbox  and radio

input {

  &[type="checkbox"]{
    display: none;

    & + label {
     font-size: 14px;
     color: $black;
     cursor: pointer;

      &::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid $lightGrey;
        background-color: #fff;
        margin-right: 16px;
      }
    }
  }


  &:checked{
    & + label{
      &::before{
        background: $green url("../img/checkbox-bg.png") no-repeat center;
      }
    }
  }

  &[type="radio"]{

    display: none;
  }
}


//checkbox wrap

.checkbox-wrap{
  padding: 25px 0;

  .checkboxes{
    padding-top: 30px;

    h3{
      margin-bottom: 37px
    }

    .scrollbar-inner{
      height: 150px;
      flex-wrap: wrap;
    }


    .scrollbar-inner{
      flex-wrap: wrap;

    }

    .checkbox-group{
      padding: 12px;
      margin-right: 18px;

      &:hover{
        background-color: $xsLightGrey;
      }

      .icon{
        margin-left: auto;
      }
    }
  }
}

#add-links-modal{
  width: 1075px;

  .checkbox-group{
    width: 30%;
  }

}

canvas{
  padding-bottom: 55px;
}