// Guide style

.guide-wrap{
  padding: 20px;

  & > *{
    margin-bottom: 15px;
  }
}



// main style

main{
  padding-left: $asideWidth;
  padding-top: 60px;
}

.links .table{
  margin: $indent 0;
}

.generate-links-form{

  .form-control{
    flex-grow: 1;
    margin-right: 16px;
  }

}

._mobileSidebar{
  main{
    padding-left: $sideBarMobileWidth
  }
  .aside{
    width: $sideBarMobileWidth;
  }
}



