// Guide style

.guide-wrap{
  padding: 20px;

  & > *{
    margin-bottom: 15px;
  }
}

.user-control{
  display: flex;
  align-items: center;
  font-size: $titleFontSize;
  color: $darkGrey;
  &:before{
    content: "";
    width: 2px;
    height: 35px;
    background-color: $lightGrey;
    display: inline-block;
    margin: 0 15px;
  }
}

// main style

main{
  padding-left: $asideWidth;
  padding-top: 60px;
}

.links .table{
  margin: $indent 0;
}