//text classes
.text-bold{
  font-weight: $fontBold;
}
.text-center{
  text-align: center;
}

.flex-center{
  justify-content: center;
}

.text-left{
  text-align: left;
}

.text-end{
  justify-content: flex-end;
}

// class position fixed
.fixed-to-top{
  top: 0;
  position: fixed;
  z-index: 99;
}

//class flexbox
.flex-container{
  display: flex;
}

.align-items-center{
  align-items: center;

}
.justify-content-sb{
  justify-content: space-between;
}

.flex-end{
  align-items: flex-end;
}

.flex-grow{
  flex-grow: 1;
}

